<div class="landing-page">
  <header>
    <div id="landing-header">
      <img src="../../assets/icons/focus-todo.svg" alt="logo" />
      <h1>todo.fy</h1>
    </div>
  </header>
  <main id="landing-main">
    <section id="left-pane">
      <h1>Get Things Done with Todofy</h1>
      <p>
        Todofy helps you <span>organize</span> your tasks and
        stay productive.
      </p>
      <p>
        With Todofy, you can easily <span>manage</span> your to-do lists, and <span>prioritize</span> your tasks, making it simple to <span>accomplish</span>
        your goals and stay on track.
      </p>
      <div class="btn-group">
        <button class="btn btn-primary" routerLink="/sign-up">Get Started</button>
        <button class="btn btn-secondary" routerLink="/sign-in">Sign In</button>
      </div>
    </section>
    <section id="right-pane">
      <img
        src="../../assets/images/Add tasks-pana.svg"
        alt="landing image"
      />
    </section>
  </main>
  
  <footer class="footer-container">
    <div>
      <span>&copy;2024 Todo.fy All rights reserved.</span>
    </div>
    <div class="social-links">
      <a href="https://twitter.com/" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
    <div class="legal-links">
      <a href="/">Privacy Policy</a>
      <a href="/">Terms of Service</a>
      <a href="/">Contact Us</a>
    </div>
  </footer>
</div>
